body{
    padding: 1% 3.5%;
}

nav{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
}

.nav-items {
    position: relative;
    display: flex;
    gap:70px;
    font-size: 1.3rem;
    top:15px;
    left:50px;
}


.action{
    position: relative;
    left:30px;
}

nav img{
    position: relative;
    top:16px;
}

.nav-item{
    font-family: "Poppins";
    font-weight: 500;
}

.nav-item:hover{
    color: #fe5e35;
    font-weight: 800;

}

.intro-section{
    display: flex;
    justify-content: space-around;
}

.left-section{
    width: 600px;
}

.left-section h1
{
    position: relative;
    bottom:40px;
}
h1{
    font-family: "Fredoka One";
    font-size: 3rem;
    letter-spacing: .5px;
    font-weight: 400;
}
h3
{
    font-family: "Poppins";
    font-size: 2.8rem; 
    font-weight: 300;
}

h5
{
    font-size: 1.1rem;
    padding-bottom:1%;
}
.sub-headlines{
    font-family: "Poppins";
    padding-left:70px;
    position: relative;
    bottom:30px;
    left: 5px;
}

.sub-headline{
    font-family: "Poppins";
    margin: 0;
    margin-bottom:10px;
    font-size: 1.2rem;;
}

.sub-headline img{
    background-color: #fe5e35;
    border-radius: 100%;
    position: relative;
    top:6px;
    width:3%;
    padding: .5%;
    margin-right: 10px;;
}

.discount{
    width:150px;
    height: 150px;
    position: relative;
    bottom:270px;
    right: 180px;
    filter: drop-shadow(2px 4px 1px rgba(0, 0, 0, 0.2));
}
.headphone-div{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

img[alt~="headphone"] {
    width:450px;
    height: 450px;
}
.discount-content h1
{
    font-size: 2.5rem;
    color:white;
    margin: 0%;
}
.discount-content{
    position: relative;
    bottom:160px;
    right:180px;
}

.discount-content h4{
    margin: 0;
    font-family: "Poppins";
    font-size: 1rem;
    color:white;
}

.right-section{
    display: flex;
    flex-direction: column;
    
}

.action-btn{
    width:200px;
    background-color: #fe5e35;
    border-style: none;
    color:white;
    padding:2% 2%;
    border-radius: 50px;
    font-family: "Poppins";
    font-size: 1.1rem;
    margin-right:30px;
    margin-top: 4%;
}

.text{
    color:#b9b9b9;
    font-family: "Poppins";
    padding-bottom:4%;
    padding-top: 2%;
    font-size: 0.9rem;
}

.right-section .action-btn{
    position: relative;
    bottom: 210px;
    left:120px;
    padding: 3% 5%;
    
}
.dot{
    margin-top: 15px;;
    width:100px;
    height:40px;    
}
.dots{
    display: flex;
    gap:20px;
    justify-content: center;
    position: relative;
    bottom:250px;
}

.yellow-dot{
    width:30px;
    height: 30px;
    border-radius: 100%;
    background-color: yellow;

}
.tomato-dot{
    width:30px;
    height: 30px;
    border-radius: 100%;
    background-color: tomato;
}
.black-dot{
    width:30px;
    height: 30px;
    border-radius: 100%;
    background-color: black;
}


@media screen and (max-width:976px) {
    .intro-section{
        flex-direction: column-reverse;
        align-items: center;
    }
    .action-btns{
        position: relative;
        left:80px;
        width: 600px;
    }
    .left-section h1,h3{
        text-align: center;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    .left-section{
        position: relative;
        bottom:100px;
    }
    .action{
        left: 0px;
    }
    
    .left-section h1
    {
        font-size: 2.7rem;
    }
    .left-section h3
    {
        font-size: 2rem;
        padding-bottom: 5%;
    }
    .text{
        padding: 2% 20%;
        text-align: center;
    }
    .sub-headlines{
        position: relative;
        left:120px;
    }
    .nav-items{
        left: 0;
    }
}
@media screen and (max-width:768px){
    .nav-items{
        visibility: hidden;
    }
    nav{
        padding-bottom: 7%;
    }
    .right-section{
        position: relative;
        left:10px;
        top:100px;
    }
}
